fastapi
uvicorn[standard]
beanie
motor
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
spacy
sentence-transformers
PyMuPDF
python-docx
scikit-learn
requests
python-dotenv
